.App {
  text-align: center;
  background-color: #ececec;
}

html {
  position: relative;
  min-height: 100%;
  background-color: #ececec;
}

.content {
  margin-top: 100px;
  background-color: #ececec;
}

.title {
  padding: 5px 5px 5px 0;
}

.subtitle {
  padding: 3px 3px 3px 0;
}
