:root {
  --back-color: #ececec;
}
.App {
  text-align: center;
  background-color: var(--back-color)
}

html {
  position: relative;
  min-height: 100%;
  background-color: var(--back-color)
}

.content {
   background-color: var(--back-color)
}

.title {
  padding: 5px 5px 5px 0;
}

.subtitle {
  padding: 3px 3px 3px 0;
}
